$s-avatar-badge: (
  xlarge: 16px,
  large: 14px,
  medium: 10px,
  small: 8px
) !default;

$bw-avatar-badge: (
  xlarge: 3px,
  large: 2px,
  medium: 2px,
  small: 1px
) !default;

$bsc-avatar-badge: white !default;

@mixin pulse-bg($color) {
  $animation-id: 'pulse-' + str-slice(inspect($color), 2);

  @at-root {
    %#{$animation-id} {
      &:after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: $color;
        position: absolute;
        border-radius: $bdrs-rounded;
        animation: #{$animation-id} 2s infinite;
      }
    }
    @keyframes #{$animation-id} {
      0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba($color, 0.7);
      }

      70% {
        transform: scale(1.025);
        box-shadow: 0 0 0 4px rgba($color, 0);
      }

      100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba($color, 0);
      }
    }
  }

  @extend %#{$animation-id};
}

.sui-MoleculeAvatarBadge {
  border-radius: $bdrs-rounded;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  z-index: 1;

  &--error {
    background-color: $c-error;
    @include pulse-bg($c-error);
  }

  &--success {
    background-color: $c-success;
    @include pulse-bg($c-success);
  }

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  @each $key-size, $size in $s-avatar-badge {
    &--#{$key-size} {
      width: $size;
      min-width: $size;
      height: $size;
    }
  }

  @each $key-size, $bw in $bw-avatar-badge {
    &--#{$key-size} {
      box-shadow: 0 0 0 $bw $bsc-avatar-badge;
    }
  }
}
