@import '~@s-ui/theme/lib/index';
@import '~react-slidy/lib/index';
@import '~@s-ui/react-atom-button/lib/index';

.sui-OrganismMediaGallery {
  width: 100%;
  .react-Slidy {
    height: 100%;
    width: 100%;
  }
}
